.candidate-templates {
  padding: 20px;
}

.candidate-templates h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.candidate-card {
  text-align: center;
}

.candidate-photo {
  max-width: 100%;
  height: auto;
}

.candidate-card .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.candidate-card .form-check-input {
  width: 30px;
  height: 30px;
}

.selected {
  position: relative;
  border: 2px solid #000000; /* Cambia el color del borde para resaltar */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade una sombra para resaltar */
}

.selected::before {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500px; /* Ajusta este valor según el tamaño de la carta */
  color: rgba(255, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected .card-body {
  opacity: 0.5;
}
