.voting-list {
  max-width: 1500px; /* Aumenta el ancho máximo del contenedor */
  margin: 0 auto;
}

.voting-list .card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%; /* Asegúrate de que las tarjetas ocupen todo el ancho de la columna */
}

.voting-list .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voting-list .card-title {
  margin: 0;
  font-size: 1.25rem;
}

.voting-list .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.search-bar {
  width: 400px; /* Ajusta el ancho según sea necesario */
  margin-left: auto; /* Alinea a la derecha */
}